body
{/* Background pattern from Toptal Subtle Patterns */
background-image:url("img/qbkls.png");
margin:0 !important;
font-family: 'Roboto Slab', serif;

}
}
#biglogo
{
	width:100%;
	text-align:left;
	text-transform:uppercase;
	font-size:40px;
	letter-spacing:2px;
	line-height:50px;
	padding:10px;
	position:absolute;
	opacity:1;
	display:block;
	top:145px;
	left:735px;
	color:white;
	width:600px;

	
}
#biglogo img
{	
	display:block;
	position:relative;
	left:110px;
	top:10px;

}
#nazw
{
	margin-left:25px;
}
#imieinazw
{
	margin-left:5px;
	letter-spacing:3px;
	color:#fff;
}
#firma
{
	color:#04223C;
	font-weight:700;
	font-size:38px;
}
.photo
{
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-image: url(img/logo.jpg);
    background-attachment: scroll;
    z-index: -999;
    height:900;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    text-shadow: 1px 1px 1px grey;
}
.wrapper
{
	width:100%;
	padding:0;
}
.nav
{	margin-top:10px;
	position:absolute;
	left:100px;
	padding:10px 0;
	text-align:center;
	opacity:1;
	top:0px;
}
ol
{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:18px;
	height:35px;
	line-height:200%;
	display:inline-block;
}
ol a
{
	color: white !important;
	text-decoration:none !important; 
	display:block;
}
ol > li
{
	float:left;
	width:150px;
	height:40px;
	border-right:1px dashed #04223C;
}
ol > li:first-child
{
	border-left: 1px dashed #04223C;
	
}
ol >li:hover
{
	border:2px solid white;
}
.imglog
{
	position:absolute;
	opacity:1;
	top:0px;
	left:30px;
	height:80px;
	width:auto;
}
.whitecon
{
  min-height:900px;
}
.tlo
{
	height:760px;
    width: 100%;
    overflow: hidden;
    background-image: url(img/logo.jpg);
    background-attachment: scroll;
    z-index: -999;
    background-position: top;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px grey;
}
