
.icon-calculator:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-group-circled:before { content: '\e804'; } /* '' */
.icon-address:before { content: '\e817'; } /* '' */